/* Common/Bootstrap overrides */
a { color:#174478; }
.text-primary { color:#174478 !important; }

.dropdown-item.active,
.dropdown-item:focus { background-color:#174478; }

.border-primary { border-color:#174478 !important; }

.btn-primary, 
.nav-pills .nav-link.active { background-color:#174478; border-color:#174478; }
.btn-primary:hover { background-color:#305d91; }

main {
  padding-top: 4.5rem;
}

iframe { width:100%; border:0;}

@-moz-document url-prefix() {
  iframe { min-height:469px !important; }
}

.modal-dialog { min-width:550px; }
/* Other General */
.text-mono { font-family:Lucida Console, Monaco, monospace; }

/* CB Specific */
.cb-login-cont { padding:15px 0 0; margin:0 auto; width:267px; }
.cb-login-cont input { width:100%; }

.cb-form-fluid table,
.cb-form-fluid input[type="text"],
.cb-form-fluid input[type="password"],
.cb-form-fluid input[type="file"],
.cb-form-fluid select { width:100%; }
.cb-form-fluid input[type="text"][name*="Date"]{ width:calc(100% - 22px); }

.cb-form-grid input[type="text"],
.cb-form-grid input[type="password"],
.cb-form-grid input[type="file"],
.cb-form-grid select { width:220px; }
.cb-form-grid input[type="submit"]{ margin:0 3px; }
.cb-form-grid textarea { width:400px; }

.cb-res { overflow:auto; }
.cb-hide-submit-submission input[type="submit"] { display:none; }
.cb-hide-submit input.cbSearchButton { display:none; }
.cb-form-search  button { margin-top:35px; }
.cb-form-search td { display: inline-block; }

.cb-form-search div {
  width: 100%;
}
.cb-form-search div section {
  width: 100%;
}
.cb-form-search .cbFormNestedTableContainer{
  grid-auto-columns: auto !important;
}
.cb-form-search .cbFormNestedTableContainer .cbHTMLBlockContainer{
  position: relative;
  bottom: 8px;
}
/* Responsive */
@media (max-width: 768px) {
  h1.page-header { font-size:20px; line-height:34px; margin-top:20px; box-shadow:0 !important; }
  h3 { font-size:18px; }
  
  * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }
  
  /* responsive forms */
  .cb-form-resp table { width: 100% !important; margin: 0px !important; }
  .cb-form-resp td { display: block; }

  .cb-form-readonly table { width: 100% !important; margin: 0px !important; }
  .cb-form-readonly td { display: inline-block; float:left; }
  .cb-form-readonly td:nth-child(2n+1) { clear:left; }  
  
  .cb-form-resp input, 
  .cb-form-resp select,
  .cb-form-resp textarea { width: 100% !important; }

  .cb-form-resp input[type=radio],  .cb-form-resp input[type=checkbox] {
    width: auto !important;
  }

  .cb-form-resp input[type="submit"] {
	margin-top: 5px;
	margin-left:0;
	margin-right:0;
  }
  
  .cb-form-resp img[alt~="Calendar"] {
    position: relative; left: -19px; top: 4px; z-index: 9999 ;
  }

  .cb-form-resp img[alt~="Audio"] {
    position: relative; left: -19px; top: 4px;
  }

  .cb-form-resp img[alt~="Download"] {
    position: relative; left: -46px; top: 4px;
  }  

  .cb-form-resp input + span > a {
    display: block;
    width: 1px;
    overflow: visible;
    position: relative;
    left: -15px;
    top: -42px;
  }

  .cb-form-resp input + a[href="#"],
  .cb-form-resp input + a[href="#"] + a {
    display: inline-block;
    width: 1px;
    overflow: visible;
    position: relative;
    left: -8px;
  }
  
  /* responsive tables */
  .cb-tab-resp * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .cb-tab-resp *:before,
  .cb-tab-resp *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .cb-tab-resp table[id^="PageActionsCtnr"] {
    border-spacing: 0px !important;
    border-collapse: separate !important; 
    margin-bottom: 7px !important; 
  }

  .cb-tab-resp table[id^="PageActionsCtnr"] td {
    display: block;
    width: auto!important;
    float: left;
    text-align: left;
    padding: 1px !important;
  }

  .cb-tab-resp table[id^="PageActionsCtnr"] td div {
    text-align: left !important;
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] {
    border: none !important;
    background: transparent !important;
    display: block;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;     
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] tbody {
    display: block;
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] tr:first-child {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] tr {
    display: block;
    border: 1px solid #dddddd; 
    margin-bottom: 7px; 
    width: 100%;
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] td {
    display: block;
    border: none !important;
    position: relative !important;
    padding-bottom: 10px !important;
    text-align: left !important;    
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] td:before {
    padding-right: 5px; 
  }

  .cb-tab-resp table[data-cb-name^="cbTable"] td[class^="cbResultSetActionCell"] {padding-bottom: 10px !important; padding-top: 7px  !important;} 
  
  /* responsive gallery */
  .cb-gal-resp * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .cb-gal-resp .cb-event > div { max-width:100%; }
  
  .cb-gal-resp table[id^="PageActionsCtnr"] {
    border-spacing: 0px !important;
    border-collapse: separate !important; 
  }

  .cb-gal-resp table[id^="PageActionsCtnr"] td {
    display: block;
    width: auto!important;
    float: left;
    text-align: left;
    padding: 1px !important;
  }

  .cb-gal-resp table[id^="PageActionsCtnr"] td div {
    text-align: left !important;
  }

  .cb-gal-resp table[data-cb-name^="cbTable"] {
    border-spacing: 0px !important;
    border-collapse: collapse !important; 
    margin-bottom: 7px;       
  }

  .cb-gal-resp table[data-cb-name^="cbTable"] td {
    display: block;
    width: 100% !important;
    float: left;
    text-align: left;
    margin-top: 10px;   
  }

  .cb-gal-resp table[data-cb-name^="cbTable"] td div {
    text-align: left !important;    
  }

  .cb-gal-resp table[data-cb-name^="cbTable"] td > div > div[name^="RACtnr"], 
  .cb-gal-resp table[data-cb-name^="cbTable"] td > div > div[name^="RACtnr"]:hover { 
    vertical-align: middle !important;
    white-space: normal !important;
    background: transparent !important;
    overflow: hidden !important;
    display: inline-block !important;
    padding: 0px !important;      
    margin: -6px 12px 8px 12px !important; 
    line-height: 0px;
    position: static !important;
    width: auto !important;
    opacity: 1.0 !important;
  }
  
}
.HeadCtnr table th:nth-child(10){
  width: 122px !important;
}
.BodyCtnr table th:nth-child(10){
  width: 122px !important;
}
.cbResultSetGridDataCell div{
  width: 97px !important;
  height: 38px;
}
.cbActionPanel ul{
  display: contents !important;
}
.cbResultSetListGallerySelectAllActionLink{
  margin-left:7px;
}

.popup h3 {
  color: #FFFFFF !important;
}

#BulkUpdateFormBody div {
  width: 100%;
}
.xdsoft_datetimepicker{
  display: none !important;
}
.xdsoft_timepicker{
  display: none !important;
}

.cbChartContainer{
  overflow: hidden;
}

.cbFormSelect{
  width: 100%;
}

#form{
  min-height: 445px;
}

@media only screen and (max-width: 1024px) and (min-width: 577px){
  #caspioform div section{
    width: 100% !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .4rem !important;
      padding-left: .4rem !important;
  }
}

@media only screen and (max-width: 576px){
  #tabular{
    width: 100%
  }
  .modal-dialog{
    min-width: auto !important;
  }
  .cbResultSetGroup1Label::before{
    color: #FFFFFF !important;
  }
}

@media only screen and (max-width: 523px){
  #sidebar button{
    width: fit-content;
  }
  #sidebar svg{
    margin-left: 10px;
  }
}

@media only screen and (max-width: 375px){
  .popup{
    width: 100% !important;
  }
}

.btn {
  font-size: 14px !important;
}

.cb-btn-search {
  margin-top: 38px;
}

.container {
  min-width: 1160px !important;
}

.dropdown-menu
{
  width: 150% !important;
}